.TodoItem{
    list-style: none;
    background: rgba(255, 255, 255, 0.847);
    border-radius: 10px;
    width: 100%;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    color: #373737;
    display: flex;
    align-items: center;
}

.TodoItem:not(.TodoItem--active):hover{
    background: rgb(255, 255, 255);
}

.TodoItem--active{
    opacity: 50%;
    background: rgba(164, 255, 252, 0.609);
}

.Icon-check{
    /* margin: 0 3%; */
    padding: 3%;
    vertical-align: middle;
}

.Icon-check:hover path{
    fill: #38ba9c;
}

.Icon-check--active{
    color: rgb(255, 255, 255);
}

.Icon-check--active .check path{
    fill: #38ba9c;
}

.TodoItemp-p{
    width: 80%;
}

.TodoItem-p--complete{
    text-decoration: line-through;
}

.Icon-delete{
    position: absolute;
    display: flex;
    background-color: rgba(0, 0, 0, 0.051);
    height: 100%;
    top: 0;
    right: 0;
    margin: 0;
    min-width: 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.Icon-delete:hover{
    min-width: 15%;
    background-color: rgba(0, 0, 0, 0.145);
}
.Icon-delete:hover path{
    fill: rgb(255, 52, 133);
}

.check{
    width: auto;
}

.check svg{
    width: 15px;
}

.check path{
    fill: #373737;
    transition: all 0.5s;
}
