textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

.Fabric{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 2%;
    /* height: 800px; */
    /* width: 50%; */
    align-items: center;
    border-radius: 25px;
    
}



.Fabric--CreateFabric{
    width: 40%;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.169);
    padding: 2% 5%;
    justify-content: space-between;
    max-height: 80vh;
}

.Fabric--CreateFabric > div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.Fabric--Fabricated{
    background: rgba(255, 255, 255, 0.05);
    width: 100%;
}

.Fabric img{
    max-height: 50%;
    justify-self: flex-end;
}
.Input {
    border-radius: 10px;
    border: none;
    background: rgba(228, 253, 255, 0.495);
    font-family: inherit;
  }
  
  .Input::placeholder{
    color: rgba(0, 0, 0, 0.423);
    border-color: aqua;
  }
  
  .Input:focus {
    outline: none;
    box-shadow: 0 0 3px #00000017;
  }
  
  .Input--NewWork{
    text-align: center;
    width: 100%;
    min-height: 20%;
  }
form{
  display: contents;
}


@media screen and (max-width: 900px) {
  .Fabric {
    width: auto;
  }
  .Fabric--CreateFabric{
    height: 25vh;
  }
  .Fabric--CreateFabric img{
    display: none;
  }

}

@media screen and (max-width: 800px) {
  .Fabric--CreateFabric{
    height: 70%;
    width: 80%;
  }
  textarea{
    height: 75%;
  }

}